<div>
    <h5>Nume medicament: @Model.Name</h5>
    <p>Gramaj: @Model.Weight</p>
    <p>Forma: @Model.Form</p>
    <p>LOT: @Model.Lot</p>
    <p>Data de expirare: @Model.ExpDate</p>
    <p>Cantitate: @Model.Quantity</p>
</div>