@model Farmacie.Models.Patient

<h2>Adaugare pacient</h2>
<br />

<div>
    @using (Html.BeginForm(actionName: "New",
   controllerName: "Patients",
   method: FormMethod.Post,
   routeValues: new { id = Model.Id }))
    {
        @using (Html.BeginForm(actionName: "New", controllerName: "Patients"))
        {
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
            <br />

            @Html.Label("FirstName", "Nume pacient")

            <br />

            @Html.TextBox("FirstName", null, new { @class = "form-control" })
            @Html.ValidationMessageFor(p => p.FirstName, null, new { @class = "text-danger" })
            <br />

            @Html.Label("LastName", "Prenume pacient")
            <br />

            @Html.TextBox("LastName", null, new { @class = "form-control" })
            @Html.ValidationMessageFor(p => p.LastName, null, new { @class = "text-danger" })
            <br />

            @Html.Label("CNP", "CNP pacient")
            <br />

            @Html.TextBox("CNP", null, new { @class = "form-control" })
            @Html.ValidationMessageFor(p => p.CNP, null, new { @class = "text-danger" })
            <br />

            @Html.Label("Phone", "Telefon pacient")
            <br />

            @Html.TextBox("Phone", null, new { @class = "form-control" })
            @Html.ValidationMessageFor(p => p.Phone, null, new { @class = "text-danger" })
            <br />

            @Html.Label("Address", "Adresa pacient")
            <br />

            @Html.TextBox("Address", null, new { @class = "form-control" })
            <br />

            <button class="btn btn-success" type="submit">Adauga</button>
        }
    }

</div>