@model Farmacie.Models.Command

<h2>Editare comanda</h2>
<br />

<a class="btn buttonmaro bi bi-arrow-left rounded-pill mb-5" href="/Commands/Show/@Model.Id">Inapoi</a>

<div>
    @using (Html.BeginForm(actionName: "Edit",
controllerName: "Commands",
method: FormMethod.Post,
routeValues: new { id = Model.Id }))
    {
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
        <br />

        @Html.Label("PatientName", "Nume pacient")
        @Html.EditorFor(c => c.PatientName, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(c => c.PatientName, null, new { @class = "text-danger" })
        <br />

        @Html.Label("Diagnostic", "Diagnostic")
        @Html.EditorFor(c => c.Diagnostic, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(c => c.Diagnostic, null, new { @class = "text-danger" })
        <br />


        <div class="row">
            @try
            {
                @foreach (var medicamentCommand in Model.MedicamentCommands)
                {
                    <div class="col-4 mb-4">
                        <div class="card-body">
                            <p>@medicamentCommand.MedicamentName</p>
                            <p>@medicamentCommand.QuantityWanted</p>
                            <br />
                        </div>
                    </div>

                }
            }
            catch (NullReferenceException e)
            {
                <p>aiurea moment..</p>
            }

        </div>

        <button class="btn buttondeep" type="submit">Modifica</button>
    }
</div>

