@model Farmacie.Models.Command

<h2>Editare comanda</h2>
<br />

<a class="btn buttonmaro bi bi-arrow-left rounded-pill mb-5" href="/Commands/Show/@Model.Id">Inapoi</a>

<div>
    @using (Html.BeginForm(actionName: "Edit",
controllerName: "Commands",
method: FormMethod.Post,
routeValues: new { id = Model.Id }))
    {
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
        <br />

        @Html.Label("Name", "Nume comanda")
        @Html.EditorFor(c => c.Name, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(c => c.Name, null, new { @class = "text-danger" })
        <br />

        @Html.Label("PatientId", "Pacient")
        @Html.DropDownList("PatientId", new SelectList(Model.AllPatients, "Value", "Text", ViewBag.UserRole), null, new { @class = "form-control" })
        <br />

        @Html.Label("Diagnostic", "Diagnostic")
        @Html.EditorFor(c => c.Diagnostic, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(c => c.Diagnostic, null, new { @class = "text-danger" })
        <br />


        <div class="row">
            @try
            {
                @foreach (var medicamentCommand in Model.MedicamentCommands)
                {
                    <div class="col-4 mb-4">
                        <div class="card" style="height: 100%; width: 100%; background-color: #a3d2d5;">
                            <div class="card-body d-flex justify-content-between flex-column">
                                <p>Nume medicament: @medicamentCommand.MedicamentName</p>
                                <p>Cantitate dorita: @medicamentCommand.QuantityWanted</p>
                            </div>
                        </div>
                    </div>
                }
            }
            catch (NullReferenceException e)
            {
                <p><strong>Nu exista inca medicamente selectate!</strong></p>
            }

        </div>

        <button class="btn buttondeep" type="submit">Modifica</button>
    }
</div>

