@model Farmacie.Models.Medicament

<h2>Editare medicament</h2>
<br />

<a class="btn buttonmaro bi bi-arrow-left rounded-pill mb-5" href="/Medicaments/Show/@Model.Id">Inapoi</a>

<div class="card col-12 mb-12 px-4 py-4" style="background-color: #a3d2d5">
    @using (Html.BeginForm(actionName: "Edit",
      controllerName: "Medicaments",
      method: FormMethod.Post,
      routeValues: new { id = Model.Id }))
    {
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
        <br />

        @Html.Label("Name", "Nume medicament")
        @Html.EditorFor(m => m.Name, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(m => m.Name, null, new { @class = "text-danger" })
        <br />

        @Html.Label("Weight", "Gramaj medicament")
        @Html.EditorFor(m => m.Weight, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(m => m.Weight, null, new { @class = "text-danger" })
        <br />

        @Html.Label("Form", "Forma medicament")
        @Html.EditorFor(m => m.Form, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(m => m.Form, null, new { @class = "text-danger" })
        <br />

        @Html.Label("Lot", "Lot medicament")
        @Html.EditorFor(m => m.Lot, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(m => m.Lot, null, new { @class = "text-danger" })
        <br />

        @Html.Label("ExpDate", "Data expirare medicament")
        @Html.EditorFor(m => m.ExpDate, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(m => m.ExpDate, null, new { @class = "text-danger" })
        <br />

        @Html.Label("Quantity", "Cantitate medicament")
        @Html.EditorFor(m => m.Quantity, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(m => m.Quantity, null, new { @class = "text-danger" })
        <br />

        <button class="btn buttondeep" type="submit">Modifica</button>
    }
</div>
